
.Navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
  }
  
  .Navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .Navbar .active {
     color: #6B3359;
    border-bottom: 2px solid #6B3359; 
  }

  .Navbar a:hover {
    color: #6B3359; 
}

.Navbar h1 {
  color: #fff;
  font-size: 30px;
}

